<div class="center hero-unit">
  <h1>プログラマのためのBGM</h1>

  <h2>
    BGMを選んで、きょうやる作業を
    <a href="http://railstutorial.jp/">宣言</a>
    しよう
  </h2>

  <br/>
  再生中の曲：Ambient04
  <br/>
  <br/>
<input type="text" placeholder="今日こそherokuにpush" style="width:300px; height:32px;">
  <a><button type="button" class="btn btn-primary" style="width:70px;">宣言</button> </a>
<br/>
<input type="text" placeholder="<SoundCloud URL>" style="width:300px;">
  <a><button type="button" class="btn btn-primary" style="width:75px; visibility:hidden">宣言</button> </a>



</div>

<br/>
<br/>

<h4>定番曲</h4>
<iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84169498"></iframe>
<h4>たったいま再生された曲</h4>
<iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/115359489"></iframe> 「逆に集中できん」by ゆるフロントエンド
<h4>あげる</h4>
<iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/55126430"></iframe> 「最初の1曲はこれ」 by ほげコーダー /「あがるわー」by Rails使い
<h4>おちつく</h4>
<iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84169498"></iframe>「これで作業はじめる！」by PHPer
<h4>ナチュナル</h4>
<iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/19286883"></iframe> 「疲れてきたらこれ！」by PHPer



<!--
作業内容宣言、
コメント、
SNSチェック、
投票ボタン
-->
<!-- 投票の多い曲のランキングを作成する -->
<!-- 各カテゴリは、APIで自動選局させたい -->

<!-- <div class="music"></div> -->

<ul id="selectATag" style="list-style:none; display:none;">
  <li><a href="" style="display:none;">Hot</a>
    <ul class="subNav">
      <li><a href="#">Coffee</a></li>
      <li><a href="#">下北沢</a></li>
      <li><a href="#">Ambient</a></li>
      <li><a href="#">EDM</a></li>
      <li><a href="#">ELECTROHOUSE</a></li>
      <li><a href="#">激おこ</a></li>
      <li><a href="#">クリスマス</a></li>
      <li><a href="#">ねこ</a></li>
      <li><a href="#">Coding</a></li>
      <li><a href="#">初音ミク</a></li>
    </ul>
  </li>
</ul>