<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <%= link_to "Home",    '#' %> &nbsp;
          <%= link_to "Help",    '#' %> &nbsp;
          <%= link_to "Sign in", '#' %> &nbsp;
        </ul>
      </nav>
    </div>
  </div>
</header>
